.classpath
build/
.settings/
.project
bin/
.gradle/
.idea/
*.DS_Store
*.html
*.orig
cli/result.txt
cli/.visulogRTempFiles/CommitsPerAuthor.pdf
cli/.visulogRTempFiles/.RData
cli/.visulogRTempFiles/commitsPA.txt






