.title {
  background-color: #825B93;
  text-align: center;
  height: 110px;
}

h1
{
	font-size: 20px;
	text-decoration: underline;
}

p
{
	text-decoration: underline;
}

td {
  text-align: center;
  vertical-align: middle;
  width:100px;
}
ul
{
	border: 3px black inset;
	border-radius: 5px;
	box-shadow:6px 6px 6px black;
	margin: 100px;
	width : 40%;
}


li
{
	font-family: Verdana, Arial, Georgia, Times New Roman;
	font-size: 14px;
	margin: 10px;
}

li:hover
{
	color : blue;
}
#showDiv1, #showDiv2, #showDiv3, #showDiv4, #showDiv5, #showDiv6, #showDiv1SousPartie,#showDiv4SousPartie{
    display: none
}
#err{
    color: red;
}